<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {81, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{81, 82}</string>
			<key>spriteSourceSize</key>
			<string>{85, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1958}, {82, 81}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>circus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{166, 145}</string>
			<key>spriteSourceSize</key>
			<string>{166, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{531, 1401}, {145, 166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>circus2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{171, 150}</string>
			<key>spriteSourceSize</key>
			<string>{171, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{663, 1734}, {150, 171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>cloud-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 80}</string>
			<key>spriteSourceSize</key>
			<string>{128, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 1958}, {128, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {143, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{143, 90}</string>
			<key>spriteSourceSize</key>
			<string>{143, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{531, 1569}, {143, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{171, 115}</string>
			<key>spriteSourceSize</key>
			<string>{171, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{546, 1194}, {115, 171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>cloud-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {234, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 158}</string>
			<key>spriteSourceSize</key>
			<string>{234, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{515, 958}, {158, 234}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>cloud-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{166, 113}</string>
			<key>spriteSourceSize</key>
			<string>{166, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 1904}, {166, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>egg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 168}</string>
			<key>spriteSourceSize</key>
			<string>{196, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{883, 1552}, {196, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>egg2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {201, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{201, 173}</string>
			<key>spriteSourceSize</key>
			<string>{201, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1261}, {201, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>emotion.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {226, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{226, 194}</string>
			<key>spriteSourceSize</key>
			<string>{226, 194}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1775, 462}, {194, 226}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>emotion2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {236, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{236, 203}</string>
			<key>spriteSourceSize</key>
			<string>{236, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 958}, {203, 236}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>firecrackerIcon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {213, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 183}</string>
			<key>spriteSourceSize</key>
			<string>{215, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1492, 1170}, {183, 213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>firecrackerIcon2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {213, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 183}</string>
			<key>spriteSourceSize</key>
			<string>{215, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1492, 1385}, {183, 213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>fruit.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {229, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{229, 198}</string>
			<key>spriteSourceSize</key>
			<string>{229, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1775, 231}, {198, 229}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>fruit2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {234, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 202}</string>
			<key>spriteSourceSize</key>
			<string>{234, 202}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1492, 934}, {202, 234}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 68}, {678, 956}}</string>
			<key>spriteOffset</key>
			<string>{-22, -34}</string>
			<key>spriteSize</key>
			<string>{678, 956}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {678, 956}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lockedCN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{145, 626}, {478, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -137}</string>
			<key>spriteSize</key>
			<string>{478, 46}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 958}, {46, 478}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>lockedJP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{281, 633}, {198, 66}}</string>
			<key>spriteOffset</key>
			<string>{-4, -154}</string>
			<key>spriteSize</key>
			<string>{198, 66}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 1696}, {66, 198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>mainBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {768, 353}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{768, 353}</string>
			<key>spriteSourceSize</key>
			<string>{768, 353}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1420, 0}, {353, 768}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>note.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {187, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{187, 162}</string>
			<key>spriteSourceSize</key>
			<string>{187, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1420, 770}, {187, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>note2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {192, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{192, 166}</string>
			<key>spriteSourceSize</key>
			<string>{192, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 1882}, {192, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>page0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {89, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 22}</string>
			<key>spriteSourceSize</key>
			<string>{91, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{227, 1261}, {22, 89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>page1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {89, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 22}</string>
			<key>spriteSourceSize</key>
			<string>{91, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{203, 1261}, {22, 89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>page2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {89, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 22}</string>
			<key>spriteSourceSize</key>
			<string>{91, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{546, 1367}, {89, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redPacketIcon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {260, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{260, 222}</string>
			<key>spriteSourceSize</key>
			<string>{260, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1696}, {222, 260}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>redPacketIcon2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {270, 231}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{270, 231}</string>
			<key>spriteSourceSize</key>
			<string>{270, 231}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 1438}, {231, 270}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>rubbish.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {229, 199}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{229, 199}</string>
			<key>spriteSourceSize</key>
			<string>{229, 199}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1775, 0}, {199, 229}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>rubbish2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {234, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 203}</string>
			<key>spriteSourceSize</key>
			<string>{234, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 1196}, {234, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>seasideIcon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {192, 170}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{192, 170}</string>
			<key>spriteSourceSize</key>
			<string>{196, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{491, 1710}, {170, 192}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>seasideIcon2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {203, 180}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{203, 180}</string>
			<key>spriteSourceSize</key>
			<string>{207, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 1552}, {203, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>traffic.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {296, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{296, 256}</string>
			<key>spriteSourceSize</key>
			<string>{296, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1438}, {296, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>traffic2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {301, 260}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{301, 260}</string>
			<key>spriteSourceSize</key>
			<string>{301, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 958}, {260, 301}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>vegetable.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {187, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 161}</string>
			<key>spriteSourceSize</key>
			<string>{187, 161}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1609, 770}, {187, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>vegetable2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 170}</string>
			<key>spriteSourceSize</key>
			<string>{197, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 1710}, {197, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano-11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{87, 214}, {616, 810}}</string>
			<key>spriteOffset</key>
			<string>{11, -107}</string>
			<key>spriteSize</key>
			<string>{616, 810}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680, 934}, {810, 616}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>volcano_year.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 92}, {738, 932}}</string>
			<key>spriteOffset</key>
			<string>{3, -46}</string>
			<key>spriteSize</key>
			<string>{738, 932}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680, 0}, {738, 932}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zoo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {178, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{178, 152}</string>
			<key>spriteSourceSize</key>
			<string>{178, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{883, 1722}, {152, 178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>zoo2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {183, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{183, 157}</string>
			<key>spriteSourceSize</key>
			<string>{183, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1081, 1552}, {157, 183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>choose-ipad</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>choose-ipad</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>choose-ipad</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>