<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {81, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{81, 82}</string>
			<key>spriteSourceSize</key>
			<string>{85, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 893}, {81, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1138, 1609}, {122, 140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>circus2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 131}</string>
			<key>spriteSourceSize</key>
			<string>{150, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1138, 1138}, {131, 150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>cloud-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 80}</string>
			<key>spriteSourceSize</key>
			<string>{128, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{852, 893}, {128, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {143, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{143, 90}</string>
			<key>spriteSourceSize</key>
			<string>{143, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1138, 1751}, {143, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{171, 115}</string>
			<key>spriteSourceSize</key>
			<string>{171, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1438, 361}, {115, 171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>cloud-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {234, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 158}</string>
			<key>spriteSourceSize</key>
			<string>{234, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{921, 0}, {158, 234}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>cloud-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{166, 113}</string>
			<key>spriteSourceSize</key>
			<string>{166, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1138, 1441}, {113, 166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>egg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {164, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 141}</string>
			<key>spriteSourceSize</key>
			<string>{164, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1424, 195}, {141, 164}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>egg2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 150}</string>
			<key>spriteSourceSize</key>
			<string>{174, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 1844}, {174, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>emotion.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 169}</string>
			<key>spriteSourceSize</key>
			<string>{196, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1098, 202}, {169, 196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>emotion2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{203, 175}</string>
			<key>spriteSourceSize</key>
			<string>{203, 175}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{921, 443}, {203, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>firecrackerIcon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {171, 146}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{171, 146}</string>
			<key>spriteSourceSize</key>
			<string>{177, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1237, 593}, {146, 171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>firecrackerIcon2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {191, 163}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{191, 163}</string>
			<key>spriteSourceSize</key>
			<string>{197, 171}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1126, 400}, {163, 191}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>fruit.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {193, 167}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{193, 167}</string>
			<key>spriteSourceSize</key>
			<string>{193, 167}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1256, 0}, {167, 193}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>fruit2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{200, 173}</string>
			<key>spriteSourceSize</key>
			<string>{200, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1081, 0}, {173, 200}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 122}, {574, 1014}}</string>
			<key>spriteOffset</key>
			<string>{-4, -61}</string>
			<key>spriteSize</key>
			<string>{574, 1014}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 980}, {574, 1014}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lockedCN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{115, 644}, {418, 42}}</string>
			<key>spriteOffset</key>
			<string>{4, -97}</string>
			<key>spriteSize</key>
			<string>{418, 42}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1996}, {418, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lockedJP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{224, 705}, {212, 72}}</string>
			<key>spriteOffset</key>
			<string>{10, -173}</string>
			<key>spriteSize</key>
			<string>{212, 72}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{626, 904}, {212, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 293}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 293}</string>
			<key>spriteSourceSize</key>
			<string>{640, 293}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{626, 0}, {293, 640}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>note.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {158, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{158, 136}</string>
			<key>spriteSourceSize</key>
			<string>{158, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1252, 766}, {136, 158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>note2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{168, 145}</string>
			<key>spriteSourceSize</key>
			<string>{168, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1291, 374}, {145, 168}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>page0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {96, 24}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{96, 24}</string>
			<key>spriteSourceSize</key>
			<string>{106, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{520, 1996}, {96, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>page1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {98, 24}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{98, 24}</string>
			<key>spriteSourceSize</key>
			<string>{106, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 2022}, {98, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>page2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {98, 24}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{98, 24}</string>
			<key>spriteSourceSize</key>
			<string>{106, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 1996}, {98, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redPacketIcon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 186}</string>
			<key>spriteSourceSize</key>
			<string>{218, 186}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{992, 1844}, {218, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redPacketIcon2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {238, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{238, 203}</string>
			<key>spriteSourceSize</key>
			<string>{238, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 1844}, {238, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rubbish.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {194, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 166}</string>
			<key>spriteSourceSize</key>
			<string>{194, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1069, 620}, {166, 194}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>rubbish2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 175}</string>
			<key>spriteSourceSize</key>
			<string>{205, 175}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{921, 236}, {175, 205}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>seasideIcon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {181, 160}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{181, 160}</string>
			<key>spriteSourceSize</key>
			<string>{191, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1069, 816}, {181, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>seasideIcon2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {161, 143}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{161, 143}</string>
			<key>spriteSourceSize</key>
			<string>{171, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1425, 0}, {143, 161}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>traffic.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {249, 215}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{249, 215}</string>
			<key>spriteSourceSize</key>
			<string>{249, 215}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{852, 642}, {215, 249}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>traffic2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {260, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{260, 224}</string>
			<key>spriteSourceSize</key>
			<string>{260, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{626, 642}, {224, 260}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>vegetable.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {157, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{157, 135}</string>
			<key>spriteSourceSize</key>
			<string>{157, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1385, 544}, {135, 157}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>vegetable2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 153}</string>
			<key>spriteSourceSize</key>
			<string>{177, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1269, 195}, {153, 177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>volcano-11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 274}, {560, 862}}</string>
			<key>spriteOffset</key>
			<string>{-4, -137}</string>
			<key>spriteSize</key>
			<string>{560, 862}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 980}, {560, 862}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano_year.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 158}, {624, 978}}</string>
			<key>spriteOffset</key>
			<string>{2, -79}</string>
			<key>spriteSize</key>
			<string>{624, 978}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {624, 978}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zoo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {149, 129}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{149, 129}</string>
			<key>spriteSourceSize</key>
			<string>{151, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1138, 1290}, {129, 149}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>zoo2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {158, 137}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{158, 137}</string>
			<key>spriteSourceSize</key>
			<string>{160, 137}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1138, 978}, {137, 158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>choose-568h</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>choose-568h</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>choose-568h</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>