<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {161, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{161, 161}</string>
			<key>spriteSourceSize</key>
			<string>{169, 167}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2376, 1622}, {161, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {331, 290}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{331, 290}</string>
			<key>spriteSourceSize</key>
			<string>{331, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1854, 3447}, {331, 290}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circus2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {341, 299}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{341, 299}</string>
			<key>spriteSourceSize</key>
			<string>{341, 299}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1191, 3778}, {341, 299}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{255, 160}</string>
			<key>spriteSourceSize</key>
			<string>{255, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1537, 1622}, {160, 255}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>cloud-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {285, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{285, 179}</string>
			<key>spriteSourceSize</key>
			<string>{285, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1356, 1622}, {179, 285}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>cloud-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {341, 230}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{341, 230}</string>
			<key>spriteSourceSize</key>
			<string>{341, 230}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1699, 1622}, {341, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {467, 315}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{467, 315}</string>
			<key>spriteSourceSize</key>
			<string>{467, 315}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3778}, {467, 315}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {332, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{332, 226}</string>
			<key>spriteSourceSize</key>
			<string>{332, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2042, 1622}, {332, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>egg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {391, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{391, 336}</string>
			<key>spriteSourceSize</key>
			<string>{391, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3487, 1710}, {391, 336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>egg2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {401, 345}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{401, 345}</string>
			<key>spriteSourceSize</key>
			<string>{401, 345}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3194, 502}, {345, 401}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>emotion.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {458, 394}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{458, 394}</string>
			<key>spriteSourceSize</key>
			<string>{458, 394}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3520, 1314}, {458, 394}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>emotion2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {468, 403}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{468, 403}</string>
			<key>spriteSourceSize</key>
			<string>{468, 403}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2590, 1129}, {468, 403}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>firecrackerIcon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {406, 345}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{406, 345}</string>
			<key>spriteSourceSize</key>
			<string>{410, 363}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3194, 94}, {345, 406}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>firecrackerIcon2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {426, 363}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{426, 363}</string>
			<key>spriteSourceSize</key>
			<string>{430, 381}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3059, 1698}, {426, 363}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fruit.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {457, 395}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{457, 395}</string>
			<key>spriteSourceSize</key>
			<string>{457, 395}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2187, 1894}, {395, 457}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>fruit2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {467, 404}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{467, 404}</string>
			<key>spriteSourceSize</key>
			<string>{467, 404}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2590, 1534}, {467, 404}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 138}, {1354, 1910}}</string>
			<key>spriteOffset</key>
			<string>{-45, -69}</string>
			<key>spriteSize</key>
			<string>{1354, 1910}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1354, 1910}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lockedCN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{290, 1252}, {954, 92}}</string>
			<key>spriteOffset</key>
			<string>{-1, -274}</string>
			<key>spriteSize</key>
			<string>{954, 92}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2590, 0}, {954, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lockedJP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{562, 1267}, {394, 130}}</string>
			<key>spriteOffset</key>
			<string>{-9, -308}</string>
			<key>spriteSize</key>
			<string>{394, 130}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2584, 1940}, {394, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1536, 702}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1536, 702}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 702}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1478, 1909}, {702, 1536}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>note.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {374, 323}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{374, 323}</string>
			<key>spriteSourceSize</key>
			<string>{374, 327}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1478, 3447}, {374, 323}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>note2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {384, 332}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{384, 332}</string>
			<key>spriteSourceSize</key>
			<string>{384, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2980, 2063}, {384, 332}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>page0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {177, 44}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{177, 44}</string>
			<key>spriteSourceSize</key>
			<string>{181, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1878, 1854}, {177, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>page1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {177, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{177, 42}</string>
			<key>spriteSourceSize</key>
			<string>{181, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2057, 1850}, {177, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>page2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {177, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 44}</string>
			<key>spriteSourceSize</key>
			<string>{181, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1699, 1854}, {177, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redPacketIcon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {519, 443}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{519, 443}</string>
			<key>spriteSourceSize</key>
			<string>{519, 443}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3541, 463}, {519, 443}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redPacketIcon2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {540, 461}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{540, 461}</string>
			<key>spriteSourceSize</key>
			<string>{540, 461}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3546, 0}, {540, 461}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rubbish.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {458, 395}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{458, 395}</string>
			<key>spriteSourceSize</key>
			<string>{458, 397}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3060, 1301}, {458, 395}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rubbish2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {468, 404}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{468, 404}</string>
			<key>spriteSourceSize</key>
			<string>{468, 406}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3526, 908}, {468, 404}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>seasideIcon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {384, 339}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{384, 339}</string>
			<key>spriteSourceSize</key>
			<string>{394, 361}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3487, 2048}, {384, 339}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>seasideIcon2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {404, 357}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{404, 357}</string>
			<key>spriteSourceSize</key>
			<string>{414, 379}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1910, 3739}, {404, 357}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>traffic.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {592, 511}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{592, 511}</string>
			<key>spriteSourceSize</key>
			<string>{592, 511}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2590, 616}, {592, 511}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>traffic2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {602, 520}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{602, 520}</string>
			<key>spriteSourceSize</key>
			<string>{602, 520}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2590, 94}, {602, 520}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>vegetable.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {374, 322}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{374, 322}</string>
			<key>spriteSourceSize</key>
			<string>{374, 322}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1534, 3772}, {374, 322}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>vegetable2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {394, 340}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{394, 340}</string>
			<key>spriteSourceSize</key>
			<string>{394, 340}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3184, 905}, {340, 394}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>volcano-11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{174, 428}, {1232, 1620}}</string>
			<key>spriteOffset</key>
			<string>{22, -214}</string>
			<key>spriteSize</key>
			<string>{1232, 1620}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1356, 0}, {1232, 1620}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano_year.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 184}, {1476, 1864}}</string>
			<key>spriteOffset</key>
			<string>{7, -92}</string>
			<key>spriteSize</key>
			<string>{1476, 1864}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1912}, {1476, 1864}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zoo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {354, 304}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{354, 304}</string>
			<key>spriteSourceSize</key>
			<string>{356, 304}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{835, 3778}, {354, 304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zoo2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {364, 313}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{364, 313}</string>
			<key>spriteSourceSize</key>
			<string>{366, 313}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{469, 3778}, {364, 313}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>choose-ipadhd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>choose-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>choose-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>