<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>circusBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {768, 1024}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{768, 1024}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {768, 1024}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disk.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {673, 673}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{673, 673}</string>
			<key>spriteSourceSize</key>
			<string>{683, 679}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{525, 1026}, {673, 673}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantA.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {475, 541}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{475, 541}</string>
			<key>spriteSourceSize</key>
			<string>{489, 555}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 0}, {475, 541}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantB.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {475, 541}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{475, 541}</string>
			<key>spriteSourceSize</key>
			<string>{489, 555}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1200, 543}, {475, 541}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>elephantC.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{892, 543}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jokerA.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {521, 508}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{521, 508}</string>
			<key>spriteSourceSize</key>
			<string>{533, 520}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1536}, {521, 508}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jokerB.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {523, 508}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{523, 508}</string>
			<key>spriteSourceSize</key>
			<string>{533, 520}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1026}, {523, 508}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jokerC.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 543}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>circus-ipad</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>circus-ipad</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>circus-ipad</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>