<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>battery.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {134, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{134, 140}</string>
			<key>spriteSourceSize</key>
			<string>{134, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 1324}, {134, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {169, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{169, 165}</string>
			<key>spriteSourceSize</key>
			<string>{169, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 1201}, {169, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>can0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 248}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{192, 248}</string>
			<key>spriteSourceSize</key>
			<string>{194, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 0}, {192, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>can1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 248}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{192, 248}</string>
			<key>spriteSourceSize</key>
			<string>{194, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 500}, {192, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>can2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 248}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{192, 248}</string>
			<key>spriteSourceSize</key>
			<string>{194, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 250}, {192, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coke.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {224, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{224, 127}</string>
			<key>spriteSourceSize</key>
			<string>{224, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 1072}, {224, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>disk.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{170, 141}</string>
			<key>spriteSourceSize</key>
			<string>{170, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1324}, {170, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>newspaper.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {190, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{190, 162}</string>
			<key>spriteSourceSize</key>
			<string>{190, 162}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 750}, {190, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plastic.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 156}</string>
			<key>spriteSourceSize</key>
			<string>{192, 156}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 914}, {192, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>right0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 102}, {94, 78}}</string>
			<key>spriteOffset</key>
			<string>{7, -17}</string>
			<key>spriteSize</key>
			<string>{94, 78}</string>
			<key>spriteSourceSize</key>
			<string>{194, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 1324}, {94, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>right1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 102}, {94, 78}}</string>
			<key>spriteOffset</key>
			<string>{7, -17}</string>
			<key>spriteSize</key>
			<string>{94, 78}</string>
			<key>spriteSourceSize</key>
			<string>{194, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 1324}, {94, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>right2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 102}, {94, 78}}</string>
			<key>spriteOffset</key>
			<string>{7, -17}</string>
			<key>spriteSize</key>
			<string>{94, 78}</string>
			<key>spriteSourceSize</key>
			<string>{194, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{636, 1324}, {94, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rubbishBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {768, 1024}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{768, 1024}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {768, 1024}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smoke0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{564, 313}, {134, 128}}</string>
			<key>spriteOffset</key>
			<string>{247, 135}</string>
			<key>spriteSize</key>
			<string>{134, 128}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 1324}, {134, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smoke1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{555, 271}, {80, 94}}</string>
			<key>spriteOffset</key>
			<string>{211, 194}</string>
			<key>spriteSize</key>
			<string>{80, 94}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{941, 1201}, {80, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smoke2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{259, 412}, {50, 58}}</string>
			<key>spriteOffset</key>
			<string>{-100, 71}</string>
			<key>spriteSize</key>
			<string>{50, 58}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 0}, {50, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smokeLeft0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{258, 396}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{-119, 108}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1008, 60}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smokeLeft1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{249, 369}, {20, 20}}</string>
			<key>spriteOffset</key>
			<string>{-125, 133}</string>
			<key>spriteSize</key>
			<string>{20, 20}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{996, 164}, {20, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smokeLeft2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{234, 336}, {30, 28}}</string>
			<key>spriteOffset</key>
			<string>{-135, 162}</string>
			<key>spriteSize</key>
			<string>{30, 28}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 172}, {30, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smokeLeft3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{219, 295}, {40, 36}}</string>
			<key>spriteOffset</key>
			<string>{-145, 199}</string>
			<key>spriteSize</key>
			<string>{40, 36}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 102}, {40, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smokeLeft4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{186, 226}, {70, 64}}</string>
			<key>spriteOffset</key>
			<string>{-163, 254}</string>
			<key>spriteSize</key>
			<string>{70, 64}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{946, 1384}, {70, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smokeRight0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{663, 284}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{286, 220}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1008, 78}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smokeRight1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{667, 257}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{294, 244}</string>
			<key>spriteSize</key>
			<string>{22, 22}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{996, 140}, {22, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smokeRight2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{669, 223}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{300, 274}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 140}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smokeRight3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{674, 181}, {42, 40}}</string>
			<key>spriteOffset</key>
			<string>{311, 311}</string>
			<key>spriteSize</key>
			<string>{42, 40}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 60}, {42, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>smokeRight4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{675, 110}, {66, 70}}</string>
			<key>spriteOffset</key>
			<string>{324, 367}</string>
			<key>spriteSize</key>
			<string>{66, 70}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{878, 1384}, {66, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>track0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {768, 296}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{768, 296}</string>
			<key>spriteSourceSize</key>
			<string>{768, 296}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1026}, {768, 296}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wrong0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 110}, {71, 85}}</string>
			<key>spriteOffset</key>
			<string>{2, -28}</string>
			<key>spriteSize</key>
			<string>{71, 85}</string>
			<key>spriteSourceSize</key>
			<string>{195, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{941, 1297}, {71, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wrong1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 110}, {71, 85}}</string>
			<key>spriteOffset</key>
			<string>{2, -28}</string>
			<key>spriteSize</key>
			<string>{71, 85}</string>
			<key>spriteSourceSize</key>
			<string>{195, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{805, 1368}, {71, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wrong2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 110}, {71, 85}}</string>
			<key>spriteOffset</key>
			<string>{2, -28}</string>
			<key>spriteSize</key>
			<string>{71, 85}</string>
			<key>spriteSourceSize</key>
			<string>{195, 249}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{732, 1368}, {71, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>rubbish-ipad</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>rubbish-ipad</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>rubbish-ipad</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>