<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>A.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {33, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{33, 48}</string>
			<key>spriteSourceSize</key>
			<string>{39, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 1100}, {33, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>B.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {29, 47}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{29, 47}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 1189}, {29, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>C.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {31, 49}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{31, 49}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1187}, {31, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>D.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {31, 46}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{31, 46}</string>
			<key>spriteSourceSize</key>
			<string>{39, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 1138}, {31, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>E.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {28, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{28, 46}</string>
			<key>spriteSourceSize</key>
			<string>{38, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 1187}, {28, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {26, 47}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{26, 47}</string>
			<key>spriteSourceSize</key>
			<string>{38, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 1187}, {26, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>G.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {31, 49}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{31, 49}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 1138}, {31, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>H.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {31, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 47}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 1138}, {31, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>I.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 2}, {12, 47}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{12, 47}</string>
			<key>spriteSourceSize</key>
			<string>{38, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1288}, {12, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>J.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {19, 47}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{19, 47}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{31, 1240}, {19, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>K.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {29, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{29, 47}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{95, 1189}, {29, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {24, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 47}</string>
			<key>spriteSourceSize</key>
			<string>{38, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 1235}, {24, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {39, 47}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{39, 47}</string>
			<key>spriteSourceSize</key>
			<string>{41, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 1051}, {39, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>N.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {31, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 47}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 1138}, {31, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>O.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {33, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{33, 49}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{683, 1051}, {33, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>P.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {30, 47}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 47}</string>
			<key>spriteSourceSize</key>
			<string>{38, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 1187}, {30, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Q.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {33, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 49}</string>
			<key>spriteSourceSize</key>
			<string>{39, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1002, 1013}, {33, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {31, 47}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{31, 47}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 1138}, {31, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>S.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {29, 49}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{29, 49}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{33, 1189}, {29, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>T.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {32, 47}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{32, 47}</string>
			<key>spriteSourceSize</key>
			<string>{38, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1138}, {32, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>U.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {31, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 49}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 1138}, {31, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>V.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {31, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 49}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 1138}, {31, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>W.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {41, 49}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{41, 49}</string>
			<key>spriteSourceSize</key>
			<string>{43, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1002, 962}, {41, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>X.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {30, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 48}</string>
			<key>spriteSourceSize</key>
			<string>{38, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 1138}, {30, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Y.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {31, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{31, 47}</string>
			<key>spriteSourceSize</key>
			<string>{39, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 1138}, {31, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Z.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {29, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{29, 48}</string>
			<key>spriteSourceSize</key>
			<string>{39, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1238}, {29, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>do1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {28, 87}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{28, 87}</string>
			<key>spriteSourceSize</key>
			<string>{40, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 962}, {28, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>do2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {28, 86}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{28, 86}</string>
			<key>spriteSourceSize</key>
			<string>{40, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{912, 962}, {28, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>do2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {28, 87}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{28, 87}</string>
			<key>spriteSourceSize</key>
			<string>{40, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 962}, {28, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>la1-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {28, 86}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{28, 86}</string>
			<key>spriteSourceSize</key>
			<string>{40, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{942, 962}, {28, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>la1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {28, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 86}</string>
			<key>spriteSourceSize</key>
			<string>{40, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 962}, {28, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mi1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {28, 86}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{28, 86}</string>
			<key>spriteSourceSize</key>
			<string>{40, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{972, 962}, {28, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mi2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {28, 87}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{28, 87}</string>
			<key>spriteSourceSize</key>
			<string>{40, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 962}, {28, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mi2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 4}, {28, 86}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{28, 86}</string>
			<key>spriteSourceSize</key>
			<string>{40, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 962}, {28, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>re2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {28, 86}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{28, 86}</string>
			<key>spriteSourceSize</key>
			<string>{40, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{852, 962}, {28, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>si1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {28, 86}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{28, 86}</string>
			<key>spriteSourceSize</key>
			<string>{40, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 962}, {28, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sol1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {28, 86}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{28, 86}</string>
			<key>spriteSourceSize</key>
			<string>{40, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{732, 962}, {28, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sol2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {28, 86}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{28, 86}</string>
			<key>spriteSourceSize</key>
			<string>{40, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{762, 962}, {28, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>staveBG-568.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>staveBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 960}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 0}, {640, 960}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>note-hd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>note-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>note-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>