<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>A.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {76, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{76, 101}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 366}, {76, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>B.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {70, 99}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{70, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1758, 572}, {70, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>C.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {70, 103}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{70, 103}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1612, 469}, {70, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>D.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {72, 99}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{72, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1684, 469}, {72, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>E.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {64, 99}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{64, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1904, 518}, {64, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {64, 99}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{64, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 677}, {64, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>G.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {72, 103}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{72, 103}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1768, 366}, {72, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>H.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {74, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1918, 417}, {74, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>I.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 2}, {26, 99}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{26, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1993, 103}, {26, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>J.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 2}, {42, 101}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{42, 101}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1993, 0}, {42, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>K.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {68, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{68, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1682, 671}, {68, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 2}, {60, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{60, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1830, 590}, {60, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {92, 99}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{92, 99}</string>
			<key>spriteSourceSize</key>
			<string>{96, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1863, 287}, {92, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>N.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {72, 99}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{72, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1758, 471}, {72, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>O.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {80, 103}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{80, 103}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1963, 204}, {80, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>P.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {68, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 675}, {68, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Q.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {76, 106}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{76, 106}</string>
			<key>spriteSourceSize</key>
			<string>{90, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1957, 309}, {76, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {72, 99}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{72, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1684, 570}, {72, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>S.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 1}, {70, 103}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{70, 103}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 572}, {70, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>T.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {74, 101}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{74, 101}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1616, 366}, {74, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>U.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 1}, {72, 101}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{72, 101}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 469}, {72, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>V.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {74, 101}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{74, 101}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1692, 366}, {74, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>W.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {98, 102}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{98, 102}</string>
			<key>spriteSourceSize</key>
			<string>{100, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1863, 183}, {98, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>X.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {70, 99}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{70, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 574}, {70, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Y.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {74, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{74, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1842, 388}, {74, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Z.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {70, 99}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{70, 99}</string>
			<key>spriteSourceSize</key>
			<string>{90, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1832, 489}, {70, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>do1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {63, 181}}</string>
			<key>spriteOffset</key>
			<string>{-3, 2}</string>
			<key>spriteSize</key>
			<string>{63, 181}</string>
			<key>spriteSourceSize</key>
			<string>{83, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1603, 0}, {63, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>do2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {63, 181}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{63, 181}</string>
			<key>spriteSourceSize</key>
			<string>{83, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1603, 183}, {63, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>do2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 11}, {63, 181}}</string>
			<key>spriteOffset</key>
			<string>{6, -4}</string>
			<key>spriteSize</key>
			<string>{63, 181}</string>
			<key>spriteSourceSize</key>
			<string>{83, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1928, 0}, {63, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>la1-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {63, 181}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{63, 181}</string>
			<key>spriteSourceSize</key>
			<string>{83, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 0}, {63, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>la1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {63, 181}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{63, 181}</string>
			<key>spriteSourceSize</key>
			<string>{83, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 183}, {63, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mi1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 9}, {63, 181}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{63, 181}</string>
			<key>spriteSourceSize</key>
			<string>{83, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1733, 0}, {63, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mi2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 8}, {63, 181}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{63, 181}</string>
			<key>spriteSourceSize</key>
			<string>{83, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1668, 0}, {63, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mi2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 8}, {63, 181}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{63, 181}</string>
			<key>spriteSourceSize</key>
			<string>{83, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1668, 183}, {63, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>re2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {63, 181}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{63, 181}</string>
			<key>spriteSourceSize</key>
			<string>{83, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1733, 183}, {63, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>si1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 8}, {63, 181}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{63, 181}</string>
			<key>spriteSourceSize</key>
			<string>{83, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1798, 0}, {63, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sol1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {63, 181}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{63, 181}</string>
			<key>spriteSourceSize</key>
			<string>{83, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1863, 0}, {63, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sol2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {63, 181}}</string>
			<key>spriteOffset</key>
			<string>{8, 1}</string>
			<key>spriteSize</key>
			<string>{63, 181}</string>
			<key>spriteSourceSize</key>
			<string>{83, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1798, 183}, {63, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>staveBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1536, 2048}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1536, 2048}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1536, 2048}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>note-ipadhd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>note-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>note-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>