<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bicycle-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 47}</string>
			<key>spriteSourceSize</key>
			<string>{27, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2141, 661}, {27, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bicycle-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 98}</string>
			<key>spriteSourceSize</key>
			<string>{98, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 890}, {98, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bicycle-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 99}</string>
			<key>spriteSourceSize</key>
			<string>{98, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 890}, {98, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bicycle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 145}</string>
			<key>spriteSourceSize</key>
			<string>{196, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1318, 622}, {196, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bus-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 65}</string>
			<key>spriteSourceSize</key>
			<string>{66, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 890}, {66, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bus-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 65}</string>
			<key>spriteSourceSize</key>
			<string>{66, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2141, 594}, {66, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bus.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {552, 255}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{552, 255}</string>
			<key>spriteSourceSize</key>
			<string>{552, 255}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1739, 809}, {552, 255}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 73}</string>
			<key>spriteSourceSize</key>
			<string>{73, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 890}, {73, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 73}</string>
			<key>spriteSourceSize</key>
			<string>{73, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{469, 890}, {73, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {465, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{465, 131}</string>
			<key>spriteSourceSize</key>
			<string>{465, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1739, 1066}, {465, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car4-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 67}</string>
			<key>spriteSourceSize</key>
			<string>{68, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{614, 890}, {68, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car4-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 67}</string>
			<key>spriteSourceSize</key>
			<string>{68, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{544, 890}, {68, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {450, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{450, 234}</string>
			<key>spriteSourceSize</key>
			<string>{450, 234}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2206, 1178}, {450, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car5-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 95}</string>
			<key>spriteSourceSize</key>
			<string>{95, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{297, 890}, {95, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car5-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 95}</string>
			<key>spriteSourceSize</key>
			<string>{95, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 890}, {95, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {287, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{287, 174}</string>
			<key>spriteSourceSize</key>
			<string>{287, 174}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1739, 1359}, {287, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer0-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 341}, {768, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, 59}</string>
			<key>spriteSize</key>
			<string>{768, 224}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2658, 1178}, {768, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer0-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 296}, {768, 266}}</string>
			<key>spriteOffset</key>
			<string>{0, 83}</string>
			<key>spriteSize</key>
			<string>{768, 266}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 997}, {768, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer0-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 294}, {768, 264}}</string>
			<key>spriteOffset</key>
			<string>{0, 86}</string>
			<key>spriteSize</key>
			<string>{768, 264}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 624}, {768, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer0-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 328}, {768, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, 71}</string>
			<key>spriteSize</key>
			<string>{768, 226}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1503}, {768, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer0-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 326}, {768, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, 75}</string>
			<key>spriteSize</key>
			<string>{768, 222}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2658, 1404}, {768, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer0-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 309}, {768, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, 85}</string>
			<key>spriteSize</key>
			<string>{768, 236}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1265}, {768, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer1-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 419}, {768, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{768, 204}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3080, 0}, {768, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer1-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 422}, {768, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, -10}</string>
			<key>spriteSize</key>
			<string>{768, 200}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3080, 206}, {768, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer1-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 405}, {768, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{768, 218}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1540, 1535}, {768, 218}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 391}, {768, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, 5}</string>
			<key>spriteSize</key>
			<string>{768, 232}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 1406}, {768, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer1-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 407}, {768, 216}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{768, 216}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1731}, {768, 216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer1-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 406}, {768, 216}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{768, 216}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 1640}, {768, 216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer2-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 404}, {768, 620}}</string>
			<key>spriteOffset</key>
			<string>{0, -202}</string>
			<key>spriteSize</key>
			<string>{768, 620}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 0}, {768, 620}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 434}, {768, 590}}</string>
			<key>spriteOffset</key>
			<string>{0, -217}</string>
			<key>spriteSize</key>
			<string>{768, 590}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2310, 0}, {768, 590}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer2-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 432}, {768, 592}}</string>
			<key>spriteOffset</key>
			<string>{0, -216}</string>
			<key>spriteSize</key>
			<string>{768, 592}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1540, 0}, {768, 592}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 442}, {768, 582}}</string>
			<key>spriteOffset</key>
			<string>{0, -221}</string>
			<key>spriteSize</key>
			<string>{768, 582}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{969, 809}, {768, 582}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer2-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 402}, {768, 622}}</string>
			<key>spriteOffset</key>
			<string>{0, -201}</string>
			<key>spriteSize</key>
			<string>{768, 622}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {768, 622}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer2-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 440}, {768, 584}}</string>
			<key>spriteOffset</key>
			<string>{0, -220}</string>
			<key>spriteSize</key>
			<string>{768, 584}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2310, 592}, {768, 584}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer3-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 850}, {758, 174}}</string>
			<key>spriteOffset</key>
			<string>{5, -425}</string>
			<key>spriteSize</key>
			<string>{758, 174}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2310, 1628}, {758, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer3-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 850}, {768, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, -425}</string>
			<key>spriteSize</key>
			<string>{768, 174}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3080, 584}, {768, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer3-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 850}, {768, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, -425}</string>
			<key>spriteSize</key>
			<string>{768, 174}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3080, 408}, {768, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer3-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 868}, {768, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -434}</string>
			<key>spriteSize</key>
			<string>{768, 156}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1540, 1755}, {768, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer3-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 850}, {768, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, -425}</string>
			<key>spriteSize</key>
			<string>{768, 174}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3080, 936}, {768, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer3-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 850}, {768, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, -425}</string>
			<key>spriteSize</key>
			<string>{768, 174}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3080, 760}, {768, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thing1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {347, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{347, 185}</string>
			<key>spriteSourceSize</key>
			<string>{351, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{969, 622}, {347, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thing2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {311, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{311, 158}</string>
			<key>spriteSourceSize</key>
			<string>{313, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1739, 1199}, {311, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thing3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {389, 193}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{389, 193}</string>
			<key>spriteSourceSize</key>
			<string>{391, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1750, 594}, {389, 193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thing4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {132, 407}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{132, 407}</string>
			<key>spriteSourceSize</key>
			<string>{136, 415}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 997}, {132, 407}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thing5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {208, 213}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{208, 213}</string>
			<key>spriteSourceSize</key>
			<string>{214, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1540, 594}, {208, 213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thing6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {197, 373}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{197, 373}</string>
			<key>spriteSourceSize</key>
			<string>{205, 379}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 622}, {197, 373}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 2048}</string>
		<key>name</key>
		<string>traffic-ipad</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>traffic-ipad</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>traffic-ipad</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>