<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bicycle-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 94}</string>
			<key>spriteSourceSize</key>
			<string>{54, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3977, 0}, {54, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bicycle-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 197}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 197}</string>
			<key>spriteSourceSize</key>
			<string>{197, 197}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3855, 468}, {197, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bicycle-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 197}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 197}</string>
			<key>spriteSourceSize</key>
			<string>{196, 197}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3855, 667}, {196, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bicycle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {391, 289}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{391, 289}</string>
			<key>spriteSourceSize</key>
			<string>{391, 289}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3076, 1600}, {391, 289}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 147}</string>
			<key>spriteSourceSize</key>
			<string>{147, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3929, 1015}, {147, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 147}</string>
			<key>spriteSourceSize</key>
			<string>{147, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3929, 866}, {147, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {929, 261}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{929, 261}</string>
			<key>spriteSourceSize</key>
			<string>{929, 261}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3076, 2387}, {929, 261}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car4-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 133}</string>
			<key>spriteSourceSize</key>
			<string>{135, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3737, 1250}, {135, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car4-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 133}</string>
			<key>spriteSourceSize</key>
			<string>{135, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3929, 1164}, {135, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {899, 466}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{899, 466}</string>
			<key>spriteSourceSize</key>
			<string>{899, 468}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3076, 0}, {899, 466}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car5-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {190, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{190, 190}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3737, 866}, {190, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car5-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {190, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{190, 190}</string>
			<key>spriteSourceSize</key>
			<string>{190, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3737, 1058}, {190, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>car5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {573, 347}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{573, 347}</string>
			<key>spriteSourceSize</key>
			<string>{573, 347}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3469, 1666}, {573, 347}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer0-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 682}, {1536, 448}}</string>
			<key>spriteOffset</key>
			<string>{0, 118}</string>
			<key>spriteSize</key>
			<string>{1536, 448}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 998}, {1536, 448}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer0-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 592}, {1536, 530}}</string>
			<key>spriteOffset</key>
			<string>{0, 167}</string>
			<key>spriteSize</key>
			<string>{1536, 530}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1536, 530}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer0-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 589}, {1536, 524}}</string>
			<key>spriteOffset</key>
			<string>{0, 173}</string>
			<key>spriteSize</key>
			<string>{1536, 524}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 0}, {1536, 524}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer0-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 656}, {1536, 450}}</string>
			<key>spriteOffset</key>
			<string>{0, 143}</string>
			<key>spriteSize</key>
			<string>{1536, 450}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 996}, {1536, 450}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer0-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 653}, {1536, 444}}</string>
			<key>spriteOffset</key>
			<string>{0, 149}</string>
			<key>spriteSize</key>
			<string>{1536, 444}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1448}, {1536, 444}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer0-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 618}, {1536, 470}}</string>
			<key>spriteOffset</key>
			<string>{0, 171}</string>
			<key>spriteSize</key>
			<string>{1536, 470}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 526}, {1536, 470}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer1-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 839}, {1536, 408}}</string>
			<key>spriteOffset</key>
			<string>{0, -19}</string>
			<key>spriteSize</key>
			<string>{1536, 408}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 2318}, {1536, 408}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer1-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 845}, {1536, 400}}</string>
			<key>spriteOffset</key>
			<string>{0, -21}</string>
			<key>spriteSize</key>
			<string>{1536, 400}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2326}, {1536, 400}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer1-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 810}, {1536, 434}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{1536, 434}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 1448}, {1536, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer1-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 782}, {1536, 462}}</string>
			<key>spriteOffset</key>
			<string>{0, 11}</string>
			<key>spriteSize</key>
			<string>{1536, 462}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 532}, {1536, 462}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer1-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 814}, {1536, 430}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{1536, 430}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1894}, {1536, 430}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer1-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 813}, {1536, 432}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{1536, 432}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 1884}, {1536, 432}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer3-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 1700}, {1514, 348}}</string>
			<key>spriteOffset</key>
			<string>{11, -850}</string>
			<key>spriteSize</key>
			<string>{1514, 348}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 3078}, {1514, 348}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer3-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1700}, {1536, 348}}</string>
			<key>spriteOffset</key>
			<string>{0, -850}</string>
			<key>spriteSize</key>
			<string>{1536, 348}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3394}, {1536, 348}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer3-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1700}, {1536, 348}}</string>
			<key>spriteOffset</key>
			<string>{0, -850}</string>
			<key>spriteSize</key>
			<string>{1536, 348}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 2728}, {1536, 348}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer3-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1736}, {1536, 312}}</string>
			<key>spriteOffset</key>
			<string>{0, -868}</string>
			<key>spriteSize</key>
			<string>{1536, 312}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3078}, {1536, 312}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer3-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1700}, {1536, 348}}</string>
			<key>spriteOffset</key>
			<string>{0, -850}</string>
			<key>spriteSize</key>
			<string>{1536, 348}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2728}, {1536, 348}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>layer3-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1700}, {1536, 348}}</string>
			<key>spriteOffset</key>
			<string>{0, -850}</string>
			<key>spriteSize</key>
			<string>{1536, 348}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3744}, {1536, 348}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thing1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {693, 370}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{693, 370}</string>
			<key>spriteSourceSize</key>
			<string>{703, 378}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3076, 2015}, {693, 370}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thing2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {619, 314}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{619, 314}</string>
			<key>spriteSourceSize</key>
			<string>{625, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3076, 2650}, {619, 314}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thing3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {777, 383}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{777, 383}</string>
			<key>spriteSourceSize</key>
			<string>{785, 391}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3076, 468}, {777, 383}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thing4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {264, 811}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{264, 811}</string>
			<key>spriteSourceSize</key>
			<string>{272, 829}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3471, 853}, {264, 811}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thing5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {414, 426}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{414, 426}</string>
			<key>spriteSourceSize</key>
			<string>{428, 434}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3076, 2966}, {414, 426}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thing6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {393, 745}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{393, 745}</string>
			<key>spriteSourceSize</key>
			<string>{409, 757}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3076, 853}, {393, 745}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>traffic1-ipadhd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>traffic1-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>traffic1-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>