<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chinese0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 25}, {134, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{134, 134}</string>
			<key>spriteSourceSize</key>
			<string>{192, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3570, 1109}, {134, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chinese1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {188, 180}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{188, 180}</string>
			<key>spriteSourceSize</key>
			<string>{192, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{958, 3324}, {188, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>English0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 25}, {134, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{134, 134}</string>
			<key>spriteSourceSize</key>
			<string>{192, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1396, 1129}, {134, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>English1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 174}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{186, 174}</string>
			<key>spriteSourceSize</key>
			<string>{192, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3161, 2390}, {186, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Japanese0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 25}, {134, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{134, 134}</string>
			<key>spriteSourceSize</key>
			<string>{192, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3906, 358}, {134, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Japanese1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 182}</string>
			<key>spriteSourceSize</key>
			<string>{192, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1202, 1129}, {192, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>about.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {162, 162}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{162, 162}</string>
			<key>spriteSourceSize</key>
			<string>{164, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3922, 0}, {162, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>aboutBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{169, 464}, {1194, 1352}}</string>
			<key>spriteOffset</key>
			<string>{-2, -116}</string>
			<key>spriteSize</key>
			<string>{1194, 1352}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1970}, {1194, 1352}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>aboutBGEN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{169, 464}, {1194, 1352}}</string>
			<key>spriteOffset</key>
			<string>{-2, -116}</string>
			<key>spriteSize</key>
			<string>{1194, 1352}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1202, 1354}, {1194, 1352}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>aboutBGJP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{169, 464}, {1194, 1352}}</string>
			<key>spriteOffset</key>
			<string>{-2, -116}</string>
			<key>spriteSize</key>
			<string>{1194, 1352}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 0}, {1194, 1352}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {843, 590}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{843, 590}</string>
			<key>spriteSourceSize</key>
			<string>{843, 590}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2734, 0}, {843, 590}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {107, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{107, 108}</string>
			<key>spriteSourceSize</key>
			<string>{107, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3985, 164}, {107, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>close2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {127, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 129}</string>
			<key>spriteSourceSize</key>
			<string>{127, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3706, 1109}, {127, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{255, 160}</string>
			<key>spriteSourceSize</key>
			<string>{255, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1202, 967}, {255, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {285, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{285, 179}</string>
			<key>spriteSourceSize</key>
			<string>{285, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1202, 786}, {285, 179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {341, 230}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{341, 230}</string>
			<key>spriteSourceSize</key>
			<string>{341, 230}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3579, 0}, {341, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-3CN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {745, 315}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{745, 315}</string>
			<key>spriteSourceSize</key>
			<string>{745, 315}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1196, 3025}, {745, 315}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-3EN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {745, 315}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{745, 315}</string>
			<key>spriteSourceSize</key>
			<string>{745, 315}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1196, 2708}, {745, 315}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-3JP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {745, 315}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{745, 315}</string>
			<key>spriteSourceSize</key>
			<string>{745, 315}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3314, 1254}, {745, 315}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {332, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{332, 226}</string>
			<key>spriteSourceSize</key>
			<string>{332, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1202, 558}, {332, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iyuba.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {729, 226}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{729, 226}</string>
			<key>spriteSourceSize</key>
			<string>{741, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3314, 2001}, {729, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iyuba2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {458, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{458, 152}</string>
			<key>spriteSourceSize</key>
			<string>{458, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3314, 2229}, {458, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>languageCN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{399, 608}, {476, 602}}</string>
			<key>spriteOffset</key>
			<string>{-131, 115}</string>
			<key>spriteSize</key>
			<string>{476, 602}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 3324}, {476, 602}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>languageEN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{361, 560}, {592, 660}}</string>
			<key>spriteOffset</key>
			<string>{-111, 134}</string>
			<key>spriteSize</key>
			<string>{592, 660}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2734, 592}, {592, 660}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>languageJP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{396, 607}, {478, 602}}</string>
			<key>spriteOffset</key>
			<string>{-133, 116}</string>
			<key>spriteSize</key>
			<string>{478, 602}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3324}, {478, 602}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1536, 556}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1536, 556}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 556}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1536, 556}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>musicOff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {240, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{240, 124}</string>
			<key>spriteSourceSize</key>
			<string>{240, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3743, 232}, {240, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>musicOn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {240, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{240, 124}</string>
			<key>spriteSourceSize</key>
			<string>{240, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3328, 1109}, {240, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rate.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {104, 104}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{104, 104}</string>
			<key>spriteSourceSize</key>
			<string>{112, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3835, 1109}, {104, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settings.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {161, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{161, 160}</string>
			<key>spriteSourceSize</key>
			<string>{167, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3743, 358}, {161, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settingsBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{314, 509}, {914, 1034}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{914, 1034}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2398, 1354}, {914, 1034}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>share.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {162, 162}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{162, 162}</string>
			<key>spriteSourceSize</key>
			<string>{168, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3579, 232}, {162, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spring.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {160, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{160, 153}</string>
			<key>spriteSourceSize</key>
			<string>{168, 159}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3579, 396}, {160, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>start.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {428, 427}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{428, 427}</string>
			<key>spriteSourceSize</key>
			<string>{432, 431}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1943, 2708}, {428, 427}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>titleCN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {729, 428}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{729, 428}</string>
			<key>spriteSourceSize</key>
			<string>{731, 428}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3314, 1571}, {729, 428}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>titleEN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {761, 415}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{761, 415}</string>
			<key>spriteSourceSize</key>
			<string>{761, 415}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2398, 2390}, {761, 415}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>titleJP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {743, 515}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{743, 515}</string>
			<key>spriteSourceSize</key>
			<string>{743, 515}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3328, 592}, {743, 515}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {1200, 704}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{1200, 704}</string>
			<key>spriteSourceSize</key>
			<string>{1224, 704}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1264}, {1200, 704}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {1200, 704}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{1200, 704}</string>
			<key>spriteSourceSize</key>
			<string>{1224, 704}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 558}, {1200, 704}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>main-ipadhd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>main-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>main-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>