<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chinese0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 12}, {68, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{68, 69}</string>
			<key>spriteSourceSize</key>
			<string>{96, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1542, 324}, {68, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chinese1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {96, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 91}</string>
			<key>spriteSourceSize</key>
			<string>{96, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 438}, {96, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>English0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 12}, {68, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{68, 69}</string>
			<key>spriteSourceSize</key>
			<string>{96, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1248, 600}, {68, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>English1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {94, 89}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{94, 89}</string>
			<key>spriteSourceSize</key>
			<string>{96, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1334, 239}, {94, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Japanese0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 12}, {68, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{68, 69}</string>
			<key>spriteSourceSize</key>
			<string>{96, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1617, 318}, {68, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Japanese1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {96, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 91}</string>
			<key>spriteSourceSize</key>
			<string>{96, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1132, 440}, {96, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>about.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1617, 232}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>aboutBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{78, 229}, {488, 586}}</string>
			<key>spriteOffset</key>
			<string>{2, -42}</string>
			<key>spriteSize</key>
			<string>{488, 586}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 588}, {488, 586}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>aboutBGEN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{78, 229}, {488, 586}}</string>
			<key>spriteOffset</key>
			<string>{2, -42}</string>
			<key>spriteSize</key>
			<string>{488, 586}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 0}, {488, 586}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>aboutBGJP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{78, 229}, {488, 586}}</string>
			<key>spriteOffset</key>
			<string>{2, -42}</string>
			<key>spriteSize</key>
			<string>{488, 586}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 810}, {488, 586}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ball.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {338, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{338, 237}</string>
			<key>spriteSourceSize</key>
			<string>{338, 237}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1132, 0}, {338, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 55}</string>
			<key>spriteSourceSize</key>
			<string>{54, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 531}, {54, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>close2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 61}</string>
			<key>spriteSourceSize</key>
			<string>{60, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{850, 1486}, {60, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 80}</string>
			<key>spriteSourceSize</key>
			<string>{128, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 230}, {128, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {143, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{143, 90}</string>
			<key>spriteSourceSize</key>
			<string>{143, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1472, 232}, {143, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{171, 115}</string>
			<key>spriteSourceSize</key>
			<string>{171, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1472, 0}, {171, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-3CN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {374, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{374, 158}</string>
			<key>spriteSourceSize</key>
			<string>{374, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1764}, {374, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-3EN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {374, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{374, 158}</string>
			<key>spriteSourceSize</key>
			<string>{374, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1248, 440}, {374, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-3JP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {374, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{374, 158}</string>
			<key>spriteSourceSize</key>
			<string>{374, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1604}, {374, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{166, 113}</string>
			<key>spriteSourceSize</key>
			<string>{166, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1472, 117}, {166, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iyuba.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {366, 100}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{366, 100}</string>
			<key>spriteSourceSize</key>
			<string>{370, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1924}, {366, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iyuba2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {206, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 67}</string>
			<key>spriteSourceSize</key>
			<string>{206, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1334, 330}, {206, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>languageCN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{136, 269}, {248, 338}}</string>
			<key>spriteOffset</key>
			<string>{-60, 42}</string>
			<key>spriteSize</key>
			<string>{248, 338}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 1644}, {248, 338}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>languageEN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{126, 270}, {288, 342}}</string>
			<key>spriteOffset</key>
			<string>{-50, 39}</string>
			<key>spriteSize</key>
			<string>{288, 342}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 1644}, {288, 342}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>languageJP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{133, 265}, {254, 342}}</string>
			<key>spriteOffset</key>
			<string>{-60, 44}</string>
			<key>spriteSize</key>
			<string>{254, 342}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{992, 588}, {254, 342}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 228}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 228}</string>
			<key>spriteSourceSize</key>
			<string>{640, 228}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {640, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>musicOff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {120, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 61}</string>
			<key>spriteSourceSize</key>
			<string>{120, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 375}, {120, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>musicOn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {120, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 61}</string>
			<key>spriteSourceSize</key>
			<string>{120, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 312}, {120, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rate.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {53, 54}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{53, 54}</string>
			<key>spriteSourceSize</key>
			<string>{57, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 531}, {53, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settings.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {82, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{82, 83}</string>
			<key>spriteSourceSize</key>
			<string>{84, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1645, 0}, {82, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settingsBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{109, 234}, {422, 478}}</string>
			<key>spriteOffset</key>
			<string>{0, 7}</string>
			<key>spriteSize</key>
			<string>{422, 478}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{919, 1176}, {422, 478}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>share.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {79, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 80}</string>
			<key>spriteSourceSize</key>
			<string>{85, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1645, 85}, {79, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spring.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 63}</string>
			<key>spriteSourceSize</key>
			<string>{64, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{850, 1421}, {64, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>start.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {200, 199}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{200, 199}</string>
			<key>spriteSourceSize</key>
			<string>{204, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1132, 239}, {200, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>titleCN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {417, 221}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{417, 221}</string>
			<key>spriteSourceSize</key>
			<string>{417, 221}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{431, 1421}, {417, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>titleEN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {429, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{429, 204}</string>
			<key>spriteSourceSize</key>
			<string>{429, 204}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1398}, {429, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>titleJP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {427, 243}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{427, 243}</string>
			<key>spriteSourceSize</key>
			<string>{427, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{490, 1176}, {427, 243}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {500, 288}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{500, 288}</string>
			<key>spriteSourceSize</key>
			<string>{518, 288}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 230}, {500, 288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {500, 288}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{500, 288}</string>
			<key>spriteSourceSize</key>
			<string>{518, 288}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 520}, {500, 288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>main-hd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>main-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>main-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>