<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>alien.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {94, 161}}</string>
			<key>spriteOffset</key>
			<string>{-2, 9}</string>
			<key>spriteSize</key>
			<string>{94, 161}</string>
			<key>spriteSourceSize</key>
			<string>{126, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{892, 709}, {94, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 960}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>camera.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 50}, {124, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{124, 103}</string>
			<key>spriteSourceSize</key>
			<string>{126, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 530}, {124, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>candy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {116, 179}}</string>
			<key>spriteOffset</key>
			<string>{-3, 4}</string>
			<key>spriteSize</key>
			<string>{116, 179}</string>
			<key>spriteSourceSize</key>
			<string>{126, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{714, 833}, {116, 179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doll.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {122, 161}}</string>
			<key>spriteOffset</key>
			<string>{1, 15}</string>
			<key>spriteSize</key>
			<string>{122, 161}</string>
			<key>spriteSourceSize</key>
			<string>{126, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 590}, {122, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>glass.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 55}, {122, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -11}</string>
			<key>spriteSize</key>
			<string>{122, 103}</string>
			<key>spriteSourceSize</key>
			<string>{126, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 635}, {122, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ingot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 62}, {122, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{122, 91}</string>
			<key>spriteSourceSize</key>
			<string>{126, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 740}, {122, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>packet0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {178, 274}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{178, 274}</string>
			<key>spriteSourceSize</key>
			<string>{178, 288}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 0}, {178, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>packet1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 36}, {178, 252}}</string>
			<key>spriteOffset</key>
			<string>{0, -18}</string>
			<key>spriteSize</key>
			<string>{178, 252}</string>
			<key>spriteSourceSize</key>
			<string>{178, 288}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 276}, {178, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>packet2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 36}, {178, 252}}</string>
			<key>spriteOffset</key>
			<string>{0, -18}</string>
			<key>spriteSize</key>
			<string>{178, 252}</string>
			<key>spriteSourceSize</key>
			<string>{178, 288}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 262}, {178, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>packet3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 28}, {178, 260}}</string>
			<key>spriteOffset</key>
			<string>{0, -14}</string>
			<key>spriteSize</key>
			<string>{178, 260}</string>
			<key>spriteSourceSize</key>
			<string>{178, 288}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 0}, {178, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>packet5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {162, 72}}</string>
			<key>spriteOffset</key>
			<string>{-4, 108}</string>
			<key>spriteSize</key>
			<string>{162, 72}</string>
			<key>spriteSourceSize</key>
			<string>{178, 288}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 516}, {162, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pencil.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 2}, {70, 189}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{70, 189}</string>
			<key>spriteSourceSize</key>
			<string>{126, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 833}, {70, 189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rat.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 34}, {112, 117}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{112, 117}</string>
			<key>spriteSourceSize</key>
			<string>{126, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{892, 590}, {112, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>red-hd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>red-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>red-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>