<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>eggA0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {411, 499}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{411, 499}</string>
			<key>spriteSourceSize</key>
			<string>{411, 499}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 501}, {411, 499}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {411, 499}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{411, 499}</string>
			<key>spriteSourceSize</key>
			<string>{411, 499}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1381, 2050}, {411, 499}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {411, 499}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{411, 499}</string>
			<key>spriteSourceSize</key>
			<string>{411, 499}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 0}, {411, 499}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {411, 501}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{411, 501}</string>
			<key>spriteSourceSize</key>
			<string>{411, 501}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{968, 2050}, {411, 501}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 120}, {411, 381}}</string>
			<key>spriteOffset</key>
			<string>{0, -60}</string>
			<key>spriteSize</key>
			<string>{411, 381}</string>
			<key>spriteSourceSize</key>
			<string>{411, 501}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2241, 0}, {411, 381}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {743, 252}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{743, 252}</string>
			<key>spriteSourceSize</key>
			<string>{743, 252}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2930, 0}, {743, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {288, 439}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{288, 439}</string>
			<key>spriteSourceSize</key>
			<string>{288, 439}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1951, 0}, {288, 439}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {394, 448}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{394, 448}</string>
			<key>spriteSourceSize</key>
			<string>{394, 448}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 1002}, {394, 448}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggABack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{114, 1333}, {936, 264}}</string>
			<key>spriteOffset</key>
			<string>{-186, -441}</string>
			<key>spriteSize</key>
			<string>{936, 264}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2550}, {936, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggAFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 1488}, {966, 498}}</string>
			<key>spriteOffset</key>
			<string>{-193, -713}</string>
			<key>spriteSize</key>
			<string>{966, 498}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2050}, {966, 498}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {274, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{274, 375}</string>
			<key>spriteSourceSize</key>
			<string>{274, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2241, 383}, {274, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {274, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{274, 375}</string>
			<key>spriteSourceSize</key>
			<string>{274, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1951, 441}, {274, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {274, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{274, 375}</string>
			<key>spriteSourceSize</key>
			<string>{274, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2654, 0}, {274, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {274, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{274, 375}</string>
			<key>spriteSourceSize</key>
			<string>{274, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2227, 760}, {274, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 78}, {274, 297}}</string>
			<key>spriteOffset</key>
			<string>{0, -39}</string>
			<key>spriteSize</key>
			<string>{274, 297}</string>
			<key>spriteSourceSize</key>
			<string>{274, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1951, 818}, {274, 297}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {491, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{491, 185}</string>
			<key>spriteSourceSize</key>
			<string>{491, 185}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{938, 2553}, {491, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {310, 267}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{310, 267}</string>
			<key>spriteSourceSize</key>
			<string>{310, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2272, 1838}, {310, 267}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {355, 304}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{355, 304}</string>
			<key>spriteSourceSize</key>
			<string>{357, 304}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1934, 1137}, {355, 304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggBBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{691, 1033}, {732, 208}}</string>
			<key>spriteOffset</key>
			<string>{289, -113}</string>
			<key>spriteSize</key>
			<string>{732, 208}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 1838}, {732, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggBFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{694, 1155}, {734, 384}}</string>
			<key>spriteOffset</key>
			<string>{293, -323}</string>
			<key>spriteSize</key>
			<string>{734, 384}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1538, 1452}, {734, 384}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {253, 329}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{253, 329}</string>
			<key>spriteSourceSize</key>
			<string>{253, 329}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2930, 254}, {253, 329}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {253, 329}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{253, 329}</string>
			<key>spriteSourceSize</key>
			<string>{253, 329}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3440, 254}, {253, 329}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {253, 329}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{253, 329}</string>
			<key>spriteSourceSize</key>
			<string>{253, 329}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2503, 1102}, {253, 329}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {253, 329}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{253, 329}</string>
			<key>spriteSourceSize</key>
			<string>{253, 329}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3185, 254}, {253, 329}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 48}, {253, 281}}</string>
			<key>spriteOffset</key>
			<string>{0, -24}</string>
			<key>spriteSize</key>
			<string>{253, 281}</string>
			<key>spriteSourceSize</key>
			<string>{253, 329}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2758, 1102}, {253, 281}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {443, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{443, 222}</string>
			<key>spriteSourceSize</key>
			<string>{443, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1794, 2048}, {443, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{184, 256}</string>
			<key>spriteSourceSize</key>
			<string>{184, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2807, 1735}, {184, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {227, 255}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{227, 255}</string>
			<key>spriteSourceSize</key>
			<string>{227, 255}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1794, 2384}, {227, 255}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggCBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{231, 810}, {648, 184}}</string>
			<key>spriteOffset</key>
			<string>{-213, 122}</string>
			<key>spriteSize</key>
			<string>{648, 184}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2140, 2365}, {648, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggCFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{180, 918}, {702, 340}}</string>
			<key>spriteOffset</key>
			<string>{-237, -64}</string>
			<key>spriteSize</key>
			<string>{702, 340}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2503, 760}, {702, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {221, 268}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{221, 268}</string>
			<key>spriteSourceSize</key>
			<string>{221, 268}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2745, 2005}, {221, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {221, 268}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{221, 268}</string>
			<key>spriteSourceSize</key>
			<string>{221, 268}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3207, 751}, {221, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {221, 268}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{221, 268}</string>
			<key>spriteSourceSize</key>
			<string>{221, 268}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3013, 1102}, {221, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {221, 268}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{221, 268}</string>
			<key>spriteSourceSize</key>
			<string>{221, 268}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2584, 1735}, {221, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 52}, {221, 216}}</string>
			<key>spriteOffset</key>
			<string>{0, -26}</string>
			<key>spriteSize</key>
			<string>{221, 216}</string>
			<key>spriteSourceSize</key>
			<string>{221, 268}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1431, 2551}, {221, 216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {398, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{398, 173}</string>
			<key>spriteSourceSize</key>
			<string>{398, 173}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2517, 383}, {398, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 230}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{152, 230}</string>
			<key>spriteSourceSize</key>
			<string>{152, 230}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2274, 1599}, {152, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {204, 239}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{204, 239}</string>
			<key>spriteSourceSize</key>
			<string>{206, 239}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3675, 0}, {204, 239}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggDBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{614, 678}, {584, 164}}</string>
			<key>spriteOffset</key>
			<string>{138, 264}</string>
			<key>spriteSize</key>
			<string>{584, 164}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3013, 585}, {584, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggDFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{614, 775}, {586, 300}}</string>
			<key>spriteOffset</key>
			<string>{139, 99}</string>
			<key>spriteSize</key>
			<string>{586, 300}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2483, 1433}, {586, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {190, 229}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{190, 229}</string>
			<key>spriteSourceSize</key>
			<string>{190, 229}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 2816}, {190, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {190, 229}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{190, 229}</string>
			<key>spriteSourceSize</key>
			<string>{190, 229}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2291, 1137}, {190, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {190, 229}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{190, 229}</string>
			<key>spriteSourceSize</key>
			<string>{190, 229}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2291, 1368}, {190, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {190, 229}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{190, 229}</string>
			<key>spriteSourceSize</key>
			<string>{190, 229}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2816}, {190, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 54}, {190, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, -27}</string>
			<key>spriteSize</key>
			<string>{190, 175}</string>
			<key>spriteSourceSize</key>
			<string>{190, 229}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2517, 558}, {190, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {344, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{344, 110}</string>
			<key>spriteSourceSize</key>
			<string>{344, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1794, 2272}, {344, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {139, 167}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{139, 167}</string>
			<key>spriteSourceSize</key>
			<string>{139, 167}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2709, 558}, {139, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {161, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{161, 166}</string>
			<key>spriteSourceSize</key>
			<string>{161, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2850, 585}, {161, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggEBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{846, 444}, {486, 138}}</string>
			<key>spriteOffset</key>
			<string>{321, 511}</string>
			<key>spriteSize</key>
			<string>{486, 138}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{938, 2740}, {486, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggEFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{832, 525}, {504, 256}}</string>
			<key>spriteOffset</key>
			<string>{316, 371}</string>
			<key>spriteSize</key>
			<string>{504, 256}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2239, 2107}, {504, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggsBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1536, 2048}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1536, 2048}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1536, 2048}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>eggs-ipadhd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>eggs-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>eggs-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>