<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>eggA0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {206, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 250}</string>
			<key>spriteSourceSize</key>
			<string>{206, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 1686}, {206, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {206, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 250}</string>
			<key>spriteSourceSize</key>
			<string>{206, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1686}, {206, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {206, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 250}</string>
			<key>spriteSourceSize</key>
			<string>{206, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 1686}, {206, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 250}</string>
			<key>spriteSourceSize</key>
			<string>{205, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{624, 1680}, {205, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 60}, {205, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -30}</string>
			<key>spriteSize</key>
			<string>{205, 190}</string>
			<key>spriteSourceSize</key>
			<string>{205, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1030, 1628}, {205, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {372, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{372, 126}</string>
			<key>spriteSourceSize</key>
			<string>{372, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 1138}, {372, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 220}</string>
			<key>spriteSourceSize</key>
			<string>{144, 220}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1003, 0}, {144, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 224}</string>
			<key>spriteSourceSize</key>
			<string>{197, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{831, 1646}, {197, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggABack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 624}, {440, 126}}</string>
			<key>spriteOffset</key>
			<string>{-87, -207}</string>
			<key>spriteSize</key>
			<string>{440, 126}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1558}, {440, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggAFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 697}, {454, 234}}</string>
			<key>spriteOffset</key>
			<string>{-90, -334}</string>
			<key>spriteSize</key>
			<string>{454, 234}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1138}, {454, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 188}</string>
			<key>spriteSourceSize</key>
			<string>{137, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1003, 412}, {137, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 188}</string>
			<key>spriteSourceSize</key>
			<string>{137, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1003, 602}, {137, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 188}</string>
			<key>spriteSourceSize</key>
			<string>{137, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1003, 222}, {137, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 188}</string>
			<key>spriteSourceSize</key>
			<string>{137, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1058, 1423}, {137, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 38}, {137, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -19}</string>
			<key>spriteSize</key>
			<string>{137, 150}</string>
			<key>spriteSourceSize</key>
			<string>{137, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1152, 1262}, {137, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {245, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{245, 92}</string>
			<key>spriteSourceSize</key>
			<string>{245, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 1938}, {245, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {155, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{155, 134}</string>
			<key>spriteSourceSize</key>
			<string>{155, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{901, 1492}, {155, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {179, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{179, 152}</string>
			<key>spriteSourceSize</key>
			<string>{179, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 1492}, {179, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggBBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{283, 483}, {344, 100}}</string>
			<key>spriteOffset</key>
			<string>{135, -53}</string>
			<key>spriteSize</key>
			<string>{344, 100}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 1266}, {344, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggBFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{285, 540}, {346, 182}}</string>
			<key>spriteOffset</key>
			<string>{138, -151}</string>
			<key>spriteSize</key>
			<string>{346, 182}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1374}, {346, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 165}</string>
			<key>spriteSourceSize</key>
			<string>{127, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1197, 1414}, {127, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 165}</string>
			<key>spriteSourceSize</key>
			<string>{127, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1003, 959}, {127, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 165}</string>
			<key>spriteSourceSize</key>
			<string>{127, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1169, 1092}, {127, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 165}</string>
			<key>spriteSourceSize</key>
			<string>{127, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1003, 792}, {127, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 24}, {127, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{127, 141}</string>
			<key>spriteSourceSize</key>
			<string>{127, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1170, 1904}, {127, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {222, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{222, 111}</string>
			<key>spriteSourceSize</key>
			<string>{222, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{833, 1929}, {222, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 128}</string>
			<key>spriteSourceSize</key>
			<string>{92, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1298, 1084}, {92, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 128}</string>
			<key>spriteSourceSize</key>
			<string>{114, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1132, 962}, {114, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggCBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 379}, {306, 88}}</string>
			<key>spriteOffset</key>
			<string>{-100, 57}</string>
			<key>spriteSize</key>
			<string>{306, 88}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1938}, {306, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggCFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 430}, {330, 160}}</string>
			<key>spriteOffset</key>
			<string>{-110, -30}</string>
			<key>spriteSize</key>
			<string>{330, 160}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 1374}, {330, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 134}</string>
			<key>spriteSourceSize</key>
			<string>{111, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 1126}, {111, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 134}</string>
			<key>spriteSourceSize</key>
			<string>{111, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1057, 1911}, {111, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 134}</string>
			<key>spriteSourceSize</key>
			<string>{111, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{943, 1126}, {111, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 134}</string>
			<key>spriteSourceSize</key>
			<string>{111, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{830, 1126}, {111, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 26}, {111, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -13}</string>
			<key>spriteSize</key>
			<string>{111, 108}</string>
			<key>spriteSourceSize</key>
			<string>{111, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1291, 1259}, {111, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{199, 87}</string>
			<key>spriteSourceSize</key>
			<string>{199, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 1266}, {199, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 115}</string>
			<key>spriteSourceSize</key>
			<string>{76, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{739, 0}, {76, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 120}</string>
			<key>spriteSourceSize</key>
			<string>{103, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1248, 962}, {103, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggDBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{247, 317}, {276, 78}}</string>
			<key>spriteOffset</key>
			<string>{65, 124}</string>
			<key>spriteSize</key>
			<string>{276, 78}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{555, 1938}, {276, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggDFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{248, 362}, {276, 142}}</string>
			<key>spriteOffset</key>
			<string>{66, 47}</string>
			<key>spriteSize</key>
			<string>{276, 142}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 1536}, {276, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 115}</string>
			<key>spriteSourceSize</key>
			<string>{95, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1392, 1079}, {95, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 115}</string>
			<key>spriteSourceSize</key>
			<string>{95, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1450, 962}, {95, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 115}</string>
			<key>spriteSourceSize</key>
			<string>{95, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 0}, {95, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 115}</string>
			<key>spriteSourceSize</key>
			<string>{95, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1353, 962}, {95, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 26}, {95, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -13}</string>
			<key>spriteSize</key>
			<string>{95, 89}</string>
			<key>spriteSourceSize</key>
			<string>{95, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1030, 1820}, {95, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {172, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{172, 55}</string>
			<key>spriteSourceSize</key>
			<string>{172, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{831, 1872}, {172, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 84}</string>
			<key>spriteSourceSize</key>
			<string>{70, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1003, 1262}, {70, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 82}</string>
			<key>spriteSourceSize</key>
			<string>{80, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1127, 1820}, {80, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggEBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{356, 208}, {230, 66}}</string>
			<key>spriteOffset</key>
			<string>{151, 239}</string>
			<key>spriteSize</key>
			<string>{230, 66}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{920, 1355}, {230, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggEFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{350, 245}, {238, 122}}</string>
			<key>spriteOffset</key>
			<string>{149, 174}</string>
			<key>spriteSize</key>
			<string>{238, 122}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680, 1368}, {238, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggsBG-568.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggsBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 960}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1152, 0}, {640, 960}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>eggs-hd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>eggs-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>eggs-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>