<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>eggA0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {206, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 250}</string>
			<key>spriteSourceSize</key>
			<string>{206, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{694, 1026}, {206, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {206, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 250}</string>
			<key>spriteSourceSize</key>
			<string>{206, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 0}, {206, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {206, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 250}</string>
			<key>spriteSourceSize</key>
			<string>{206, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 1026}, {206, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 250}</string>
			<key>spriteSourceSize</key>
			<string>{205, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 252}, {205, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 60}, {205, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -30}</string>
			<key>spriteSize</key>
			<string>{205, 190}</string>
			<key>spriteSourceSize</key>
			<string>{205, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1124, 134}, {205, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {372, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{372, 126}</string>
			<key>spriteSourceSize</key>
			<string>{372, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{902, 1018}, {372, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 220}</string>
			<key>spriteSourceSize</key>
			<string>{144, 220}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 0}, {144, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggA7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 224}</string>
			<key>spriteSourceSize</key>
			<string>{197, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 504}, {197, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggABack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 666}, {468, 132}}</string>
			<key>spriteOffset</key>
			<string>{-93, -220}</string>
			<key>spriteSize</key>
			<string>{468, 132}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1124, 0}, {468, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggAFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 744}, {484, 250}}</string>
			<key>spriteOffset</key>
			<string>{-96, -357}</string>
			<key>spriteSize</key>
			<string>{484, 250}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1026}, {484, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 188}</string>
			<key>spriteSourceSize</key>
			<string>{137, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1108, 516}, {137, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 188}</string>
			<key>spriteSourceSize</key>
			<string>{137, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1116, 326}, {137, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 188}</string>
			<key>spriteSourceSize</key>
			<string>{137, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{969, 504}, {137, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 188}</string>
			<key>spriteSourceSize</key>
			<string>{137, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{977, 252}, {137, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 38}, {137, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -19}</string>
			<key>spriteSize</key>
			<string>{137, 150}</string>
			<key>spriteSourceSize</key>
			<string>{137, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1888, 0}, {137, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {245, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{245, 92}</string>
			<key>spriteSourceSize</key>
			<string>{245, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1255, 410}, {245, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {155, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{155, 134}</string>
			<key>spriteSourceSize</key>
			<string>{155, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1276, 1009}, {155, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggB7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {179, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{179, 152}</string>
			<key>spriteSourceSize</key>
			<string>{179, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 855}, {179, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggBBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{345, 516}, {366, 104}}</string>
			<key>spriteOffset</key>
			<string>{144, -56}</string>
			<key>spriteSize</key>
			<string>{366, 104}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1585, 152}, {366, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggBFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{347, 577}, {368, 192}}</string>
			<key>spriteOffset</key>
			<string>{147, -161}</string>
			<key>spriteSize</key>
			<string>{368, 192}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 730}, {368, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 165}</string>
			<key>spriteSourceSize</key>
			<string>{127, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1585, 258}, {127, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 165}</string>
			<key>spriteSourceSize</key>
			<string>{127, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1247, 688}, {127, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 165}</string>
			<key>spriteSourceSize</key>
			<string>{127, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1505, 688}, {127, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {127, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{127, 165}</string>
			<key>spriteSourceSize</key>
			<string>{127, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1376, 688}, {127, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 24}, {127, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{127, 141}</string>
			<key>spriteSourceSize</key>
			<string>{127, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1321, 855}, {127, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {222, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{222, 111}</string>
			<key>spriteSourceSize</key>
			<string>{222, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{902, 1146}, {222, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 128}</string>
			<key>spriteSourceSize</key>
			<string>{92, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1355, 1334}, {92, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggC7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 128}</string>
			<key>spriteSourceSize</key>
			<string>{114, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1126, 1146}, {114, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggCBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{115, 405}, {324, 92}}</string>
			<key>spriteOffset</key>
			<string>{-107, 61}</string>
			<key>spriteSize</key>
			<string>{324, 92}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 924}, {324, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggCFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 459}, {350, 170}}</string>
			<key>spriteOffset</key>
			<string>{-118, -32}</string>
			<key>spriteSize</key>
			<string>{350, 170}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1247, 516}, {350, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 134}</string>
			<key>spriteSourceSize</key>
			<string>{111, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1242, 1217}, {111, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 134}</string>
			<key>spriteSourceSize</key>
			<string>{111, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1450, 855}, {111, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 134}</string>
			<key>spriteSourceSize</key>
			<string>{111, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1599, 425}, {111, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{111, 134}</string>
			<key>spriteSourceSize</key>
			<string>{111, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1450, 991}, {111, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 26}, {111, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -13}</string>
			<key>spriteSize</key>
			<string>{111, 108}</string>
			<key>spriteSourceSize</key>
			<string>{111, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1103, 1276}, {111, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{199, 87}</string>
			<key>spriteSourceSize</key>
			<string>{199, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{902, 1259}, {199, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 115}</string>
			<key>spriteSourceSize</key>
			<string>{76, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1522, 1127}, {76, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggD7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 120}</string>
			<key>spriteSourceSize</key>
			<string>{103, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 706}, {103, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggDBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{307, 339}, {292, 82}}</string>
			<key>spriteOffset</key>
			<string>{69, 132}</string>
			<key>spriteSize</key>
			<string>{292, 82}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1255, 326}, {292, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggDFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{308, 387}, {292, 150}}</string>
			<key>spriteOffset</key>
			<string>{70, 50}</string>
			<key>spriteSize</key>
			<string>{292, 150}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1594, 0}, {292, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 115}</string>
			<key>spriteSourceSize</key>
			<string>{95, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1599, 561}, {95, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 115}</string>
			<key>spriteSourceSize</key>
			<string>{95, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1355, 1217}, {95, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 115}</string>
			<key>spriteSourceSize</key>
			<string>{95, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1216, 1353}, {95, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 115}</string>
			<key>spriteSourceSize</key>
			<string>{95, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1449, 1334}, {95, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 26}, {95, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -13}</string>
			<key>spriteSize</key>
			<string>{95, 89}</string>
			<key>spriteSourceSize</key>
			<string>{95, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1502, 425}, {95, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {172, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{172, 55}</string>
			<key>spriteSourceSize</key>
			<string>{172, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1331, 266}, {172, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 84}</string>
			<key>spriteSourceSize</key>
			<string>{70, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1563, 855}, {70, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggE7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 82}</string>
			<key>spriteSourceSize</key>
			<string>{80, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1634, 678}, {80, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggEBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{423, 222}, {244, 70}}</string>
			<key>spriteOffset</key>
			<string>{161, 255}</string>
			<key>spriteSize</key>
			<string>{244, 70}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1276, 1145}, {244, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggEFront.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{417, 262}, {252, 130}}</string>
			<key>spriteOffset</key>
			<string>{159, 185}</string>
			<key>spriteSize</key>
			<string>{252, 130}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1331, 134}, {252, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eggsBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {768, 1024}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{768, 1024}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {768, 1024}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>eggs-ipad</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>eggs-ipad</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>eggs-ipad</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>